{% extends 'base.html.twig' %}

{% block body %}
    <h1>Secondcategories list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Lib</th>
                <th>Div_Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for secondCategory in secondCategories %}
            <tr>
                <td><a href="{{ path('secondcategory_show', { 'id': secondCategory.id }) }}">{{ secondCategory.id }}</a></td>
                <td>{{ secondCategory.lib }}</td>
                <td>{{ secondCategory.divName }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('secondcategory_show', { 'id': secondCategory.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('secondcategory_edit', { 'id': secondCategory.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('secondcategory_new') }}">Create a new secondCategory</a>
        </li>
    </ul>
{% endblock %}
