{% extends 'BackendBundle::backend.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1>Cellcount</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cellCount.id }}</td>
            </tr>
            <tr>
                <th>Lib</th>
                <td>{{ cellCount.lib }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cellcount_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('cellcount_edit', { 'id': cellCount.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
