{% extends 'BackendBundle:Layout:backend.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1>Motorturn</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ motorTurns.id }}</td>
            </tr>
            <tr>
                <th>Turns</th>
                <td>{{ motorTurns.turns }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('motorturns_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('motorturns_edit', { 'id': motorTurns.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
