{% extends 'BackendBundle:Layout:backend.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1>Tires list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Frontwheelposition</th>
                <th>Scale</th>
                <th>Color</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tire in tires %}
            <tr>
                <td><a href="{{ path('tires_show', { 'id': tire.id }) }}">{{ tire.id }}</a></td>
                <td>{% if tire.frontWheelPosition %}Yes{% else %}No{% endif %}</td>
                <td>{{ tire.scale }}</td>
                <td> {{ tire.tiresColor }} </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('tires_show', { 'id': tire.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('tires_edit', { 'id': tire.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tires_new') }}">Create a new tire</a>
        </li>
    </ul>
{% endblock %}
