{% extends 'BackendBundle:Layout:backend.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1>Tire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tires.id }}</td>
            </tr>
            <tr>
                <th>Frontwheelposition</th>
                <td>{% if tires.frontWheelPosition %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Scale</th>
                <td>{{ tires.scale.lib }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td>{{ tires.tiresColor }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tires_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('tires_edit', { 'id': tires.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
