<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}RC Electric Car Admin{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/bootstrap.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('boutique.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon_rc.ico') }}" />

    </head>
    
    <body>
        {% block body %}{% endblock %}        
        <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>    
        {% block javascripts %}{% endblock %}
    </body>
</html>