<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/bootstrap.css') }}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    
    <body>
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <ul class="nav navbar-nav">
                            <li role="presentation">
                                <a href="{{ path('backend_default_index') }}"> Menu Admin </a>
                            </li>
                            <li role="presentation">
                                <a href="{{ path('frontend_default_index') }}"> Menu Front </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        {% block body %}{% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>    
        {% block javascripts %}{% endblock %}
    </body>
</html>