{% extends 'BackendBundle:Layout:backend.html.twig' %}

{% block body %}
    {{ parent() }}

    <h1>Order_details list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order_detail in order_details %}
            <tr>
                <td><a href="{{ path('order_detail_show', { 'id': order_detail.id }) }}">{{ order_detail.id }}</a></td>
                <td>{{ order_detail.quantity }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('order_detail_show', { 'id': order_detail.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('order_detail_edit', { 'id': order_detail.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('order_detail_new') }}">Create a new order</a>
        </li>
    </ul>
{% endblock %}
