{% extends 'BackendBundle:Layout:backend.html.twig' %}

{% block body %}
    {{ parent() }}

    <h1>Order_detail</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ order_detail.id }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ order_detail.quantity }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('order_detail_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('order_detail_edit', { 'id': order_detail.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
