{% extends 'FrontendBundle:Layout:frontend.html.twig' %}

{% block body %}

<style>

  #list_of_product{
    margin: 30px 0px;
  }
  #list_of_product a{
    text-decoration: none;
    font-size: 20px;    
  }
  #kit_header h1{
    color: #2e75b5;
    text-decoration: underline;
    font-size: 35px;
  }
  #kit_header p{
    color: #333;   
  }
  #kit_header img{
    float: right;
    position: absolute;
    margin-top : -75px;
    margin-left : 1000px;
  }
  #list_of_product p{
    text-align: center;
    font-size: 18px;
  }
  a.btn.btn-primary{
    margin-left: 10px;
  }
  h3{
    height: 80px;
    text-align: center;
  }


</style>


  <div id="kit_header" class="jumbotron">
    
    <h1>Kits</h1>
    <img src="{{ asset( 'pictures/22-4.png') }}" style="height: 150px"alt="...">
    <p> Kit prêt à rouler, à monter... toutes les voitures dont vous rêver se trouvent ici! </p>    

  </div>

  <div id="list_of_product"class="row">
  {% for product in products %}

    <div id="item_of_product" class="col-lg-3">      
      <div class="thumbnail">
        <a href="{{ path('product_page', { 'slug': product.slug }) }}">
          <img src="{{ asset( 'uploads/pictures/'~product.picture ) }}" style="height: 150px"alt="...">
        <div class="caption">        
          <h3>{{ product.lib }}</h3>
        </a>       
          <p>{{ product.price }}€</p>
          <p>
              <button id="basket_add_button" product_id="{{ product.id }}" type="button" class="btn btn-primary basket_add">
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>                    
              </button>
              <button type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              </button>
          </p>
        </div>
      </div>    
    </div>

  {% endfor %}
  </div>

</div>

{% endblock %}


{% block javascripts %}

{% if is_granted('ROLE_USER') %}

<script>

$(".basket_add").click(function(){
  //console.log("ajout au panier"+$(this).attr("product_id")+" id user: "+{{ app.user.id }});


  $.ajax({
    url: "{{ path('basket_add') }}",
    type: "POST",
    data: { product_id: $(this).attr("product_id"),
            user_id: {{ app.user.id }} 
    },
    sucess: function(data) {
      console.log(data);
    }
  })
})


</script>

{% endif %}

{% endblock %}