{% extends 'FrontendBundle:Layout:frontend.html.twig' %}

{% block body %}

<style>

  #list_of_product{
    margin: 30px 0px;
  }
  #list_of_product a{
    text-decoration: none;
    font-size: 20px;    
  }
  #list_of_product p{    
    font-size: 18px;
  }
  #item_of_product p{
    text-align: center;
  }

  #search_no_product{
    display: block;
    color: #2e75b5;
    font-weight: normal;
    margin: 30px 30px;
    height: 300px;
  }
  .jumbotron h1{
      color: #024d90;
  }
  #search_product{
    display: block;
    color: #2e75b5;
    font-weight: normal;
    margin: 30px 30px;
    height: 300px;
  }
  h3{
    height: 100px;
    text-align: center;
  }

</style>


<div id="list_of_product"class="row">

{% if products %}

  <div id="search_product" class="jumbotron login">
    <h1> Recherche </h1>
    <p> Résultat trouvé pour votre recherche "{{ research }}" </p>          
  </div>

  {% for product in products %}

    <div id="item_of_product" class="col-lg-3">      
      <div class="thumbnail">
        <a href="{{ path('product_page', { 'slug': product.slug }) }}">
          <img src="{{ asset( 'uploads/pictures/'~product.picture ) }}" style="height: 150px"alt="...">
        <div class="caption">        
          <h3>{{ product.secondCategory.lib ~ " " ~ product.brand.lib ~ " " ~ product.lib }}</h3>
        </a>       
          <p>{{ product.price }}€</p>
          <p>
              <button id="basket_add_button" product_id="{{ product.id }}" type="button" class="btn btn-primary basket_add">
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>                    
              </button>
              <button type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              </button>
          </p>
        </div>
      </div>    
    </div>
  
  {% endfor %}

{% else %}

<div class="row">
  <div class="col-lg-12">
      <div id="search_no_product" class="jumbotron login">
        <h1> Recherche </h1>
        <p> Il n'y a pas de résultats à votre recherche </p>          
      </div>
  </div>
</div>

{% endif %}

{% endblock %}