{% extends 'FrontendBundle:Layout:frontend.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

<style>

#basket_no_register{
    display: block;
    color: #2e75b5;
    font-weight: normal;
    margin: 30px 30px;
    height: 430px;
}
#basket_registration{
    color: #2e75b5;    
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px
}
.jumbotron h1{
    color: #024d90;
}

.text-right{
	color: #024d90;
}

#_submit{
    color: #2e75b5;    
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px
}

#basket_div{
	margin-top: 20px;
	display: flex;
    justify-content: center;
}
.product-name{
	color: #024d90;
}
.active{
	visibility: hidden;
}
.panel.panel-info{
	padding: 0px;
}

#basket_null{
	color: #2e75b5;
	font-size: 20px;
	text-align: center;
	margin: 30px;
}

</style>

{% if is_granted('ROLE_USER') %}

<div class="container">
	<div class="row">
		<div id="basket_div">
			<div class="panel panel-info col-xs-9">
				<div class="panel-heading">
					<div class="panel-title">
						<div class="row">
							<div class="col-xs-6">
								<h5><span class="glyphicon glyphicon-shopping-cart"></span> Panier </h5>
							</div>
							<div class="col-xs-6">
								<a href="javascript:history.back()"><button type="button" class="btn btn-primary btn-sm btn-block">
									<span class="glyphicon glyphicon-share-alt"></span> Continuer vos achats
								</button></a>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-body">
				{% if baskets %}

				{% for basket in baskets %}

					<div class="row basket_product">
						<div class="col-xs-2"><img class="img-responsive" src="{{ asset('uploads/pictures/'~basket.product.picture) }}">
						</div>
						<div class="col-xs-4">
							<a href="{{ path('product_page', { 'slug': basket.product.slug }) }}">
								<h4 class="product-name"><strong>{{ basket.product.secondCategory.lib ~ " " ~ basket.product.brand.lib ~ " " ~ basket.product.lib }}</strong></h4>
							</a>
						</div>
						<div class="col-xs-6">
							<div class="col-xs-6 text-right">
								<h6><strong> {{ basket.product.price }} <span class="text-muted">x</span></strong></h6>
							</div>
							<form action="#" method="get" onChange="this.form.submit()">
								<div class="col-xs-4">
									<input type="text" class="form-control input-sm" value="{{ basket.quantity }}">
								</div>
							</form>
							<div class="col-xs-2">
								<button type="button" id="delete_product_button" basket_id="{{ basket.id }}" class="btn btn-link btn-xs delete_product" onClick="window.location.reload()">
									<span class="glyphicon glyphicon-trash"> </span>
								</button>
							</div>
						</div>
					</div>
					<hr>
				
				{% endfor %}

				{% else %}

					<div id="basket_null" class="col-lg-10">
						<p> Votre panier est vide, cliquer sur <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> pour ajouter un produit à votre panier!
						</p>
					</div>

				{% endif %}
				
					<div class="row">
						<div class="text-center">
							<div class="col-xs-9">
								<h6 class="text-right">Ajout de produit ?</h6>
							</div>
							<div class="col-xs-3">
								<button type="button" class="btn btn-default btn-sm btn-block" onClick="window.location.reload()">
									Mis à jour du panier
								</button>
							</div>
						</div>
					</div>
				</div>

				{#{% set total = baskets.quantity * 2 %}#}

				<div class="panel-footer">
					<div class="row text-center">
						<div class="col-xs-8">
							<h4 class="text-right">Total <strong> total €</strong></h4>
						</div>
						<div class="col-xs-4">
							<button type="button" class="btn btn-success btn-block">
								Confirmation commande
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% else %}

<div class="row col-lg-12">
    <div id="basket_no_register" class="jumbotron col-lg-5 login">
        <h1> Panier </h1>
    	<p> Vous devez vous enregistrer pour accéder au panier afin de passer commande.</p>
        <a href="/RC_Boutique/web/app_dev.php/register" id="basket_registration" class="btn btn-primary" role="button">Cliquer ici</a>
    </div>

    {#<div id="log" class="jumbotron col-lg-5 login">
        <h1> Connexion </h1>

        <form action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}

            <div class="form-group">
                <label for="username">Nom d'utilisateurs</label>
                <input class="form-control" type="text" type="text" id="username" name="_username" value="{{ last_username }}" required="required"/>
            </div>

            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input class="form-control" type="password" id="password" name="_password" required="required"/>
            </div>

            <div class="form-group">
                <label for="remember_me">Se souvenir de moi ?</label>
                <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
            </div>

            <button type="submit" class="btn btn-default" id="_submit" name="_submit">Se connecter</button>        
        </form>
    </div>#}
</div>

{% endif %}

{% endblock %}


{% block javascripts %}

{% if is_granted('ROLE_USER') %}

<script>

$(".delete_product").click(function(){
  console.log("suppr du produit : "+$(this).attr("basket_id")+" id user: "+{{ app.user.id }});

  $.ajax({
    url: "{{ path('basket_delete') }}",
    type: "POST",
    data: { basket_id: $(this).attr("basket_id"),
            user_id: {{ app.user.id }} 
    },
    sucess: function(data) {
      console.log(data);
    }
  })
  $(this).addClass("active");
})

</script>

{% endif %}

{% endblock %}