{% extends 'base.html.twig' %}

{% block body %}
    <h1>Esc</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ esc.id }}</td>
            </tr>
            <tr>
                <th>Waterproof</th>
                <td>{% if esc.waterproof %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Sensored</th>
                <td>{% if esc.sensored %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('esc_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('esc_edit', { 'id': esc.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
