{% extends 'BackendBundle:Layout:backend.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1>Body</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ body.id }}</td>
            </tr>
            <tr>
                <th>Paint</th>
                <td>{% if body.paint %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('body_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('body_edit', { 'id': body.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
