{% extends 'base.html.twig' %}

{% block body %}
   
    <div class="second_category" id="motor" style="border:1px solid red">
        <table class="table">
            <h2> Moteur </h2>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Sensored</th>
                    <th>Brushless</th>
                    <th>Echelle</th>
                    <th>Tours</th>
                    <th>Actions</th>
                </tr>
            </thead>
            {% for motor in second_category_details.motors %}
                <tr class="motor active" motorId= {{ motor.id }}>
                    <td><a href="{{ path('motor_show', { 'id': motor.id }) }}">{{ motor.id }}</a></td>
                    <td>{% if motor.sensored %}Yes{% else %}No{% endif %}</td>
                    <td>{% if motor.brushless %}Yes{% else %}No{% endif %}</td>
                    <td>{{ motor.scale }} </td>
                    <td>{{ motor.motorTurns }} </td>

                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('motor_show', { 'id': motor.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('motor_edit', { 'id': motor.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="second_category" id="esc" style="border:1px solid blue">
        <table class="table">
            <h2> Variateur </h2>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Waterproof</th>
                    <th>Sensored</th>
                    <th>Echelle</th>
                    <th>Puissance</th>
                    <th>Actions</th>
                </tr>
            </thead>
            {% for esc in second_category_details.escs %}
                <tr class="esc active" escId= {{ esc.id }}>
                    <td><a href="{{ path('esc_show', { 'id': esc.id }) }}">{{ esc.id }}</a></td>
                    <td>{% if esc.waterproof %}Yes{% else %}No{% endif %}</td>
                    <td>{% if esc.sensored %}Yes{% else %}No{% endif %}</td>
                    <td>{{ esc.scale }} </td>
                    <td>{{ esc.power }} </td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('esc_show', { 'id': esc.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('esc_edit', { 'id': esc.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="second_category" id="battery" style="border:1px solid yellow">
        <table class="table">
            <thead>
            <h2> Batteries </h2>
                <tr>
                    <th>Id</th>
                    <th>Capacité</th>
                    <th>Cell count</th>
                    <th>Type de batterie</th>
                    <th>Actions</th>
                </tr>
            </thead>
            {% for battery in second_category_details.batteries %}
                <tr class="battery active" batteryId= {{ battery.id }}>
                    <td><a href="{{ path('battery_show', { 'id': battery.id }) }}">{{ battery.id }}</a></td>
                    <td>{{ battery.capacity }} </td>
                    <td>{{ battery.cellCount }} </td>
                    <td>{{ battery.batteryType }} </td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('battery_show', { 'id': battery.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('battery_edit', { 'id': battery.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="second_category" id="body" style="border:1px solid purple">
        <table class="table">
            <thead>
            <h2> Carrosserie </h2>
                <tr>
                    <th>Id</th>
                    <th>Paint</th>
                    <th>Echelle</th>
                    <th>Actions</th>
                </tr>
            </thead>
            {% for body in second_category_details.bodies %}
                <tr class="body active" bodyId= {{ body.id }}>
                    <td><a href="{{ path('body_show', { 'id': body.id }) }}">{{ body.id }}</a></td>
                    <td>{% if body.paint %}Yes{% else %}No{% endif %}</td>
                    <td>{{ body.scale }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('body_show', { 'id': body.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('body_edit', { 'id': body.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="second_category" id="kit" style="border:1px solid pink">
        <table class="table">
            <thead>
            <h2> Kit </h2>
                <tr>
                    <th>Id</th>
                    <th>Kit Completness</th>
                    <th>Terrain</th>
                    <th>4x4</th>
                    <th>Actions</th>
                </tr>
            </thead>
            {% for kit in second_category_details.kits %}
                <tr class="kit active" kitId= {{ kit.id }}>
                    <td><a href="{{ path('kit_show', { 'id': kit.id }) }}">{{ kit.id }}</a></td>
                    <td>{% if kit.kitCompletness %}Yes{% else %}No{% endif %}</td>
                    <td>{% if kit.terrain %}Yes{% else %}No{% endif %}</td>
                    <td>{% if kit.driveTrainFull %}Yes{% else %}No{% endif %}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('kit_show', { 'id': kit.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('kit_edit', { 'id': kit.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="second_category" id="oil" style="border:1px solid black">
        <table>
            <thead>
            <h2> Huile </h2>
                <tr>
                    <th>Id</th>
                    <th>Wt</th>
                    <th>Actions</th>
                </tr>
            </thead>
            {% for oil in second_category_details.oils %}
                <tr class="oil active" oilId= {{ oil.id }}>
                    <td><a href="{{ path('oil_show', { 'id': oil.id }) }}">{{ oil.id }}</a></td>
                    <td>{{ oil.wt }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('oil_show', { 'id': oil.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('oil_edit', { 'id': oil.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="second_category" id="tires" style="border:1px solid greenx">
        <table>
            <thead>
            <h2> Pneus </h2>
                <tr>
                    <th>Id</th>
                    <th>Front Wheel Position</th>
                    <th>Echelle</th>
                    <th>Couleurs Pneus</th>
                    <th>Actions</th>
                </tr>
            </thead>
            {% for tire in second_category_details.tires %}
                <tr class="tires active" tiresId= {{ tire.id }}>
                    <td><a href="{{ path('tires_show', { 'id': tire.id }) }}">{{ tire.id }}</a></td>
                    <td>{% if tire.frontWheelPosition %}Yes{% else %}No{% endif %}</td>
                    <td>{{ tire.scale }}</td>
                    <td>{{tire.tiresColor}}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('tires_show', { 'id': tire.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('tires_edit', { 'id': tire.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    </div>
        <h1>Product edit</h1>

        {{ form_start(edit_form) }}
            <div>
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Ref</th>
                            <td>{{ form_widget (edit_form.ref) }}</td>
                        </tr>
                        <tr>
                            <th>Price</th>
                            <td>{{ form_widget (edit_form.price) }}</td>
                        </tr>
                        <tr>
                            <th>Lib</th>
                            <td>{{ form_widget (edit_form.lib) }}</td>
                        </tr>
                        <tr>
                            <th>Brand</th>
                            <td>{{ form_widget (edit_form.brand) }}</td>
                        </tr>
                        <tr>
                            <th>Category</th>
                            <td>{{ form_widget (edit_form.category) }}</td>
                        </tr>
                        <tr>
                            <th>Second_category</th>
                            <td>{{ form_widget (edit_form.secondCategory) }}</td>
                        </tr>
                        <tr>
                            <th>Picture</th>
                            <td>{{ form_widget (edit_form.picture) }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div style="visibility:hidden">
                {{ form_widget (edit_form.motor) }}
                {{ form_widget (edit_form.esc) }}
                {{ form_widget (edit_form.battery) }}
                {{ form_widget (edit_form.body) }}
                {{ form_widget (edit_form.kit) }}
                {{ form_widget (edit_form.oil) }}
                {{ form_widget (edit_form.tires) }}
            </div>


            <input type="submit" value="Edit" />

        {{ form_end(edit_form) }}

        <ul>
            <li>
                <a href="{{ path('product_index') }}">Back to the list</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        </ul>
        
        
{% endblock %}

{% block javascripts %}
    <script>

        $("tr").removeClass("active");

        $(".second_category").hide();
        var vsc = $("#backendbundle_product_secondCategory").val()
        var div_name_selected = "{{ product.secondCategory.divName }}";
        $("#"+div_name_selected).toggle();



        $("#backendbundle_product_secondCategory").click(function() {
            
            var idSelected = $("#backendbundle_product_secondCategory option:selected").attr("div_name");
            $(".second_category").hide();
            $("#"+idSelected).toggle();

        })

        $("#backendbundle_product_category").click(function() {
            console.log("J'ai cliqué sur la categorie : "+$(this).val());
            //appel AJAX
            $.ajax({
                url: "{{ path('json_category') }}",
                type: "POST",
                data: { category_id:$(this).val() },
                success: function (data) {
                    //console.log(data);
                    var dataObj = JSON.parse(data);
                    //console.log(dataObj.lib);
                    $("#backendbundle_product_secondCategory")
                        .find('option')
                        .remove()
                    ;
                    for (var item in dataObj ) {
                        $("#backendbundle_product_secondCategory")
                            .append ("<option div_name='"+dataObj[item].div_name+"' value='"+dataObj[item].id+"'>"+dataObj[item].lib+"</option>");                   
                        console.log("item",item,dataObj[item]);
                    }
                }
            })
        })

        $("tr.motor").click(function(){
            var motorId = $(this).attr('motorId');
            console.log(motorId);
            $("#backendbundle_product_motor").val(motorId);
            $("tr").removeClass("active");
            $(this).addClass("active");
        })

        $("tr.esc").click(function(){
            var escId = $(this).attr('escId');
            console.log(escId);
            $("#backendbundle_product_esc").val(escId);
            $("tr").removeClass("active");
            $(this).addClass("active");
        })

        $("tr.battery").click(function(){
            var batteryId = $(this).attr('batteryId');
            console.log(batteryId);
            $("#backendbundle_product_battery").val(batteryId);
            $("tr").removeClass("active");
            $(this).addClass("active");
        })

        $("tr.body").click(function(){
            var bodyId = $(this).attr('bodyId');
            console.log(bodyId);
            $("#backendbundle_product_body").val(bodyId);
            $("tr").removeClass("active");
            $(this).addClass("active");
        })

        $("tr.kit").click(function(){
            var kitId = $(this).attr('kitId');
            console.log(kitId);
            $("#backendbundle_product_kit").val(kitId);
            $("tr").removeClass("active");
            $(this).addClass("active");
        })

        $("tr.oil").click(function(){
            var oilId = $(this).attr('oilId');
            console.log(oilId);
            $("#backendbundle_product_oil").val(oilId);
            $("tr").removeClass("active");
            $(this).addClass("active");
        })

        $("tr.tires").click(function(){
            var tiresId = $(this).attr('tiresId');
            console.log(tiresId);
            $("#backendbundle_product_tires").val(tiresId);
            $("tr").removeClass("active");
            $(this).addClass("active");
        })

    </script>
{% endblock %}