{% extends 'BackendBundle:Layout:backend.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1>Products list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Img</th>                
                <th>Ref</th>
                <th>Price</th>
                <th>Lib</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>                
                <td><a href="{{ path('product_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                <td><img src="{{ asset('uploads/pictures/'~product.picture) }}" width="100px"/></td>
                <td>{{ product.ref }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.lib }}</td>

                <td>
                    <ul>                       
                       <a href="{{ path('product_show', { 'id': product.id }) }}"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span></button></a>
                    
                    
                        <a href="{{ path('product_edit', { 'id': product.id }) }}"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button></a>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('product_new') }}"><button class="btn btn-default"><b> Crée un nouveau produit </b></button></a>

{% endblock %}
