{% extends 'BackendBundle::backend.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1>Brand</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ brand.id }}</td>
            </tr>
            <tr>
                <th>Lib</th>
                <td>{{ brand.lib }}</td>
            </tr>
            <tr>
                <th>Shortlib</th>
                <td>{{ brand.shortLib }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('brand_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('brand_edit', { 'id': brand.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
