{% extends 'BackendBundle:Layout:backend.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1>Oils list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for oil in oils %}
            <tr>
                <td><a href="{{ path('oil_show', { 'id': oil.id }) }}">{{ oil.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('oil_show', { 'id': oil.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('oil_edit', { 'id': oil.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('oil_new') }}">Create a new oil</a>
        </li>
    </ul>
{% endblock %}
