{% extends 'base.html.twig' %}

{% block body %}
    <h1>Power</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ power.id }}</td>
            </tr>
            <tr>
                <th>Lib</th>
                <td>{{ power.lib }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('power_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('power_edit', { 'id': power.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
