{% extends 'BackendBundle:Layout:backend.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1>Contacts list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Message</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td><a href="{{ path('contact_show', { 'id': contact.id }) }}">{{ contact.id }}</a></td>
                <td>{{ contact.name }}</td>
                <td>{{ contact.email }}</td>
                <td>{{ contact.message }}</td>
                <td>
                    <ul>                      
                        <a href="{{ path('contact_show', { 'id': contact.id }) }}"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span></button></a>
                        
                        <a href="{{ path('contact_edit', { 'id': contact.id }) }}"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></button></a>
                        
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>    
        <a href="{{ path('contact_new') }}"><button class="btn btn-default"><b> Crée un nouveau contact </b></button></a>        
    </ul>
{% endblock %}
